<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("components/head", { title: title }) %>
</head>

<body>
    <header>
        <%- include("components/header") %> 
    </header>

    <div class="container">
        
    </div>

    <div class="d-flex justify-content-center">
        <footer class="position-fixed bottom-0 ">
            <%- include("components/footer") %> 
        </footer>
    </div>

    <%- include("components/body") %> 

    <script>
        $(function() {
            const socket = io();
        })
    </script>
</body>

</html>