<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("components/head", { title: "Dashboard" }) %>
</head>

<body>
    <header>
        <%- include("components/header") %> 
    </header>

    <div class="container">
        <div class="">
            <input type="text" id="message" placeholder="message..." autocomplete="off">
            
            <p style="display: none;">Digitando...</p>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <footer class="position-fixed bottom-0 ">
            <%- include("components/footer") %> 
        </footer>
    </div>

    <%- include("components/body") %> 

    <script>
        $(function() {
            const socket = io();

            $("#message").on("keyup", function(event) {
                if (this.value != "") {
                    socket.emit("is_typing", true)
                    socket.on("is_typing", bool => {
                        if(bool) {
                            $("p").fadeIn()
                        }
                    })
                }

                $("p").fadeOut("slow")
            })
        })
    </script>
</body>

</html>