<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("components/head", { title: "Inicio" }) %>
</head>

<body>
    <header>
        <%- include("components/header") %> 
    </header>

    <div class="container d-flex justify-content-center">
        <h1>Inicio</h1>
    </div>

    <%- include("components/body") %> 
    
    <footer>
        <%- include("components/footer") %> 
    </footer>
</body>

</html>