<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("components/head", { title: "Login" }) %>
    <link rel="stylesheet" href="assets/styles/signin.css">

    <script src="https://kit.fontawesome.com/ce19ed932d.js" crossorigin="anonymous"></script>
</head>

<body class="text-center">
    <div class="login-container">
        <div class="logo-container vertical-center">
            <%- include("components/stars") %>
        </div>
        <div class="vertical-center text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 bg-white rounded">
                        <form id="formSignin" method="POST" action="/signin" class=" p-3">
                            <img class="mb-4" src="/assets/images/netsy.png" width="200">
                            <h1 class="h3 mb-3 fw-normal">Iniciar Sessão</h1>

                            <div class="form-floating">
                                <input id="username" name="username" type="text" class="form-control " autocomplete="off">
                                <label for="username">Usuário</label>
                            </div>
                            <div class="form-floating">
                                <input id="password" name="password" type="password" class="form-control" autocomplete="off">
                                <label for="password">Senha</label>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                  <input type="checkbox" value="remember-me"> Lembrar-me
                              </label>
                          </div>
                          <div>
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                        <p class="mt-2 mb-3 text-muted">
                            <a id="forgot-password" href="#">Esqueceu sua senha?</a>
                        </p>
                    </form>
                </div>

                <div id="message" class="container mb-4 mt-5" style="display: none;"></div>
            </div>
            <!-- <div id="message" class="mb-2 alert text-center" style="display:none;"></div> -->
        </div>
    </div>
</div>

<%- include("components/body") %>

<script>
    const socket = io();

    function showMessage(type, element) {
        element.reset()

        element.username.focus()

        if (type == "success") {
            $("#message").html(`
                <div class="rectangle">
                    <div class="notification-text">
                        <span><i class="fa fa-check-circle" aria-hidden="true"></i></i>&nbsp;&nbsp;Logado com Sucesso.</span>
                    </div>
                </div>
            `)
        } else if(type == "error") {
            $("#message").html(`
                <div class="rectangle">
                    <div class="notification-text">
                        <span><i class="fa fa-info-circle text-white" aria-hidden="true"></i>&nbsp;&nbsp;Credenciais inválidas.</span>
                    </div>
                </div>
            `)
        } else {
            $("#message").html(`
                <div class="rectangle">
                    <div class="notification-text">
                        <span><i class="fa fa-info-circle text-white" aria-hidden="true"></i>&nbsp;&nbsp;Preencha os campos!</span>
                    </div>
                </div>
            `)
        }

        $("#message").fadeIn("slow")

        setTimeout(function() {
            $("#message").fadeOut("slow")
        }, 5000)
    }

    $("#formSignin").on("submit", function(event) {
        event.preventDefault();

        var form = {
            username: this.username.value,
            password: this.password.value
        }

        socket.emit("signin_request", form)
        socket.on("signin_response", (message) => {
            if (message == "success") {
                showMessage(message, this)

                setTimeout(() => {
                    location.href = `${location.origin}/dashboard`
                }, 3000)
            } else {
                showMessage(message,this)
            }
        })
    })
</script>

</body>

</html>